@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Jawaban Alumni";

}

<h2 class="text-center">Detail Jawaban Alumni</h2>

<div style="overflow-x: auto; width: 100%;">
    <table id="dataTable" style="width: 100%;" class="table table-hover table-bordered table-condensed text-center">
        <thead>
            <tr>
                <th class="align-middle text-center" width="1%">No.</th>
                <th class="align-middle text-center" width="5%">ID Pertanyaan</th>
                <th class="align-middle text-center" width="5%">Jenis - Periode</th>
                <th class="align-middle text-center" width="9%">Kode</th>
                <th class="align-middle text-center" width="50%">Deskripsi Pertanyaan</th>
                <th class="align-middle text-center" width="30%">Jawaban</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <a asp-controller="Admin" asp-action="Index" id="btnCancelDetail" class="btn btn-secondary">Kembali</a>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var no = 1;

            $('#dataTable').DataTable({
                "language": {
                    "emptyTable": "Tidak ada Data Pengisian Kuesioner",
                    "zeroRecords": "Tidak ada Data Pengisian Kuesioner"
                },
                "dom": 'Bfrti<"bottom-wrapper"p>',
                scrollX: true,
                "bLengthChange": false,
                "bInfo": false,
                "pageLength": 10,
                "ajax": {
                    "url": 'https://localhost:44384/GetDataPengisianKuesionerAlumni?nim=' + '@ViewBag.Nim',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, error, thrown) {
                        console.log("Error fetching data from server:", error);
                        console.log("Server response:", xhr.responseText);
                    }
                },
                "columns": [
                    { 
                        "data": "nim",
                        "render": function (data) {
                            return no++;
                        }
                    },
                    { "data": "id_pku" },
                    { "data": "jenis_periode" },
                    { "data": "kode" },
                    { 
                        "data": "deskripsiPertanyaan",
                        "render": function (data) {
                            return '<div style="white-space: normal;">' + data + '</div>';
                        }
                    },
                    { 
                        "data": "jawabanKuesioner",
                        "render": function (data) {
                            return '<div style="white-space: normal;">' + data + '</div>';
                        }
                    }
                ],
                "buttons": []
            });
        });
    </script>
}
