@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard Admin";
    var cultureInfo = new System.Globalization.CultureInfo("id-ID");
    var formattedDate = DateTime.Now.ToString("dddd, d MMMM yyyy", cultureInfo);
}

<div class="row">
    <div class="card w-100" style="border-radius: 10px;">
        <div class="card-header">
            Dashboard - @formattedDate
        </div>
        <div class="card-body mb-4 mx-3 p-3">
            <div class="row mb-4">
                <div class="col-md-2 col-sm-12" >
                    <div class="row">
                        <div class="col">
                            <select class="form-control" id="myYearFilter" style="border-radius: 10px;">
                                @for (int i = 0; i < 10; i++)
                                {
                                    <option value="@(DateTime.Now.Year - i)">@(DateTime.Now.Year - i)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 col-sm-12" >
                    <div class="row">
                        <div class="col-sm-12" >
                            <div class="card card-stats mb-4 p-3" style="border-radius: 10px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <center>
                                                <span style="font-size: Larger; font-weight: bold;">Akun Yang Belum Diverifikasi</span><br>
                                            </center>
                                            <span class="h2 font-weight-bold mb-0 num" runat="server" id="dataDJP" data-val="0">0</span>
                                        </div>
                                    </div>

                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <a id="detailAkunLink" href='/Admin/AkunBelumVerifikasi?year=@DateTime.Now.Year' data-toggle="tooltip" data-placement="bottom" data-original-title="Lihat Detail Akun yang Belum Diverifikasi" data-year-link>
                                            <span class="mr-2">
                                                <i class="fa fa-arrow-circle-right"></i> Detail Akun
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                       <div class="col-sm-12" >
                            <div class="card card-stats mb-4 p-3" style="border-radius: 10px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <center>
                                                <span style="font-size: Larger; font-weight: bold;">Sudah Mengisi Kuesioner</span><br>
                                            </center>
                                            <span class="h2 font-weight-bold mb-0 num" runat="server" id="dataJK" data-val="0">0</span>
                                        </div>
                                    </div>

                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <a id="detailKuesionerLink" href='/Admin/DetailByYear?year=@DateTime.Now.Year' data-toggle="tooltip" data-placement="bottom" data-original-title="Lihat Detail Koresponden">
                                            <span class="mr-2">
                                                <i class="fa fa-arrow-circle-right"></i> Detail Koresponden
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-12 justify-content-center">
                    <div class="row h-100 pb-4">
                        <div class="col-sm-12">
                            <div class="card card-stats h-100 w-100 mb-4 p-3" style="border-radius: 10px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <center>
                                                <span style="font-size: Larger; font-weight: bold;">Jumlah Koresponden</span><br>
                                                <br>
                                            </center>
                                        </div>
                                    </div>

                                    <canvas id="myChartDoughnut" style="display: block; box-sizing: border-box; height:80%; width:100%;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 justify-content-center" >
                    <div class="card card-stats mb-4 p-3" style="border-radius: 10px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <span style="font-size: Larger; font-weight: bold;">Data Alumni Berdasarkan Tahun</span><br>
                                        <br>
                                    </center>
                                </div>
                            </div>

                            <canvas id="myYearChartBar" style="display: block; box-sizing: border-box; height: 394px; width: 789px;"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 mb-4 justify-content-center">
                    <div class="card card-stats mb-4 p-3" style="border-radius: 10px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <span style="font-size: Larger; font-weight: bold;">Data Alumni Berdasarkan Prodi</span><br>
                                        <br>
                                    </center>
                                </div>
                            </div>

                            <canvas id="myProdiChartBar" style="display: block; box-sizing: border-box; height: 394px; width: 789px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-4 justify-content-center" >
                    <div class="card card-stats mb-4 p-3" style="border-radius: 10px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <span style="font-size: Larger; font-weight: bold;">Detail Koresponden</span><br>
                                        <br>
                                    </center>
                                </div>
                            </div>
                            <div style="overflow-x: auto; width: 100%; display: block; box-sizing: border-box; height: 450px;">
                                <table id="myKorespondenTable" class="table table-hover table-bordered table-condensed table-striped grid scrollstyle">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Program Studi</th>
                                            <th>Sudah Mengisi</th>
                                            <th>Belum Mengisi</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-isi-body" style="text-align: center;"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        // Tambahkan pada akhir skrip JavaScript Anda
        window.onload = function () {
            document.getElementById('myYearFilter').value = @DateTime.Now.Year;
        }

        dataAlumniByYears();
        dataAlumniByProdi();
        dataAlumniByStatus();
        dataIsiKuesioner();
        dataIsiKuesionerByProdi(); 

        document.getElementById('myYearFilter').addEventListener('change', onYearFilterChange);

        const ctx = document.getElementById('myYearChartBar');
        const ctxx = document.getElementById('myProdiChartBar');

        const ctxxx = document.getElementById('myChartDoughnut');
        const ctxxxx = document.getElementById('myChartPie');
        

        var hasilChartBar;
        var hasilChartDoughnut;
        var hasilChartPie;

        
        var labelsStatus = [];
        var dataStatus = [];

        var labelsKuesioner = [];
        var dataKuesioner = [];

        var newChartYear;
        var newChartProdi;
        var newChartIsi;

        function onYearFilterChange() {
            dataAlumniByYears();
            dataAlumniByProdi();
            dataAlumniByStatus();
            dataIsiKuesioner();
            dataIsiKuesionerByProdi();

            var selectedYear = $(this).val();
            $('#detailAkunLink').attr('href', '/Admin/AkunBelumVerifikasi?year=' + selectedYear);
            $('#detailKuesionerLink').attr('href', '/Admin/DetailByYear?year=' + selectedYear);
        }

        function dataAlumniByYears() {
            var year = document.getElementById('myYearFilter').value;
            var labelsTahunLulus = [];
            var dataTahunLulus = [];


            var hostname = "https://localhost:44384/";
            var method = "GET";
            var url = hostname + "GetAllRegistrasiAlumniByYears?year=" + year;
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    hasilChartBar = data.data;

                    var startIndex = Math.max(0, hasilChartBar.length - 5);
                    var slicedData = hasilChartBar.slice(startIndex);
                    if (newChartYear) {
                        for (let i = 0; i < slicedData.length; i++) {
                            dataTahunLulus[i] = slicedData[i].count;
                            labelsTahunLulus[i] = slicedData[i].value;
                        }

                        newChartYear.data.labels = labelsTahunLulus;
                        newChartYear.data.datasets[0].data = dataTahunLulus;
                        newChartYear.data.datasets[0].label= 'Data Alumni Berdasarkan Tahun';

                        newChartYear.data.datasets.forEach(function (dataset, index) {
                            dataset.backgroundColor = 'rgb(47, 5, 162)';
                            dataset.borderColor = 'rgb(255, 255, 255)'; 
                            dataset.borderWidth = 1; 
                            dataset.borderRadius = 10; 
                        });

                        newChartYear.update();
                    } else {
                        for (let i = 0; i < slicedData.length; i++) {
                            dataTahunLulus[i] = slicedData[i].count;
                            labelsTahunLulus[i] = slicedData[i].value;
                        }

                        newChartYear = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labelsTahunLulus,
                                datasets: [{
                                    label: 'Data Alumni Berdasarkan Tahun',
                                    data: dataTahunLulus,
                                    borderWidth: 1,
                                    backgroundColor: 'rgb(47, 5, 162)',
                                    borderColor: 'rgb(255, 255, 255)',
                                    borderRadius: 10
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        suggestedMin: 30,
                                        suggestedMax: 100,
                                        ticks: {
                                            stepSize: 20
                                        }   
                                    },
                                    x: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                },
                error: function (data) {
                    console.log(data.message);
                }
            });
        }
        
        function dataAlumniByProdi() {
            var tahun = document.getElementById('myYearFilter').value;
            var hasilChartProdi;
            var labelsProdiLulus = [];
            var dataProdiLulus = [];

            var hostname = "https://localhost:44384/";
            var method = "GET";
            var url = hostname + "GetAllRegistrasiAlumniByProdi?year=" + tahun;

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    hasilChartProdi = data.data;
                    var startIndex = Math.max(0);
                    
                    if (newChartProdi) {
                        for (let i = 0; i < hasilChartProdi.length; i++) {
                            dataProdiLulus[i] = hasilChartProdi[i].count;

                            if (hasilChartProdi[i].valueName === "Mesin Otomotif") {
                                labelsProdiLulus[i] = "MO";
                            } else if (hasilChartProdi[i].valueName === "Teknologi Konstruksi Bangungan Gedung") {
                                labelsProdiLulus[i] = "TKBG";
                            } else if (hasilChartProdi[i].valueName === "Manajemen Informatika") {
                                labelsProdiLulus[i] = "MI";
                            } else if (hasilChartProdi[i].valueName === "Mekatronika") {
                                labelsProdiLulus[i] = "MK";
                            } else if (hasilChartProdi[i].valueName === "Teknik Produksi dan Proses Manufaktur") {
                                labelsProdiLulus[i] = "TPM";
                            } else if (hasilChartProdi[i].valueName === "Teknologi Rekayasa Pemeliharaan Alat Berat") {
                                labelsProdiLulus[i] = "TRPAB";
                            } else if (hasilChartProdi[i].valueName === "Pembuatan Peralatan dan Perkakas Produksi") {
                                labelsProdiLulus[i] = "P4";
                            } else if (hasilChartProdi[i].valueName === "Teknologi Rekayasa Logistik") {
                                labelsProdiLulus[i] = "TRL";
                            } 
                        }

                        newChartProdi.data.labels = labelsProdiLulus; 
                        newChartProdi.data.datasets[0].data = dataProdiLulus;
                        newChartProdi.data.datasets[0].label= 'Data Alumni Berdasarkan Prodi Tahun ' + tahun;

                        newChartProdi.data.datasets.forEach(function (dataset, index) {
                            dataset.backgroundColor = 'rgb(47, 5, 162)';
                            dataset.borderColor = 'rgb(255, 255, 255)'; 
                            dataset.borderWidth = 1; 
                            dataset.borderRadius = 10; 
                        });

                        newChartProdi.update();
                    } else {

                        for (let i = 0; i < hasilChartProdi.length; i++) {
                            dataProdiLulus[i] = hasilChartProdi[i].count;
                            if (hasilChartProdi[i].valueName === "Mesin Otomotif") {
                                labelsProdiLulus[i] = "MO";
                            } else if (hasilChartProdi[i].valueName === "Teknologi Konstruksi Bangungan Gedung") {
                                labelsProdiLulus[i] = "TKBG";
                            } else if (hasilChartProdi[i].valueName === "Manajemen Informatika") {
                                labelsProdiLulus[i] = "MI";
                            } else if (hasilChartProdi[i].valueName === "Mekatronika") {
                                labelsProdiLulus[i] = "MK";
                            } else if (hasilChartProdi[i].valueName === "Teknik Produksi dan Proses Manufaktur") {
                                labelsProdiLulus[i] = "TPM";
                            } else if (hasilChartProdi[i].valueName === "Teknologi Rekayasa Pemeliharaan Alat Berat") {
                                labelsProdiLulus[i] = "TRPAB";
                            } else if (hasilChartProdi[i].valueName === "Pembuatan Peralatan dan Perkakas Produksi") {
                                labelsProdiLulus[i] = "P4";
                            } else if (hasilChartProdi[i].valueName === "Teknologi Rekayasa Logistik") {
                                labelsProdiLulus[i] = "TRL";
                            }
                        }

                        newChartProdi = new Chart(ctxx, {
                            type: 'bar',
                            data: {
                                labels: labelsProdiLulus,
                                datasets: [{
                                    label: 'Data Alumni Berdasarkan Prodi Tahun ' + tahun,
                                    data: dataProdiLulus,
                                    borderWidth: 1,
                                    backgroundColor: 'rgb(47, 5, 162)',
                                    borderColor: 'rgb(255, 255, 255)',
                                    borderRadius: 10
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        suggestedMin: 30,
                                        suggestedMax: 100,
                                        ticks: {
                                            stepSize: 20
                                        }   
                                    },
                                    x: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    
                    }
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        }

        function dataAlumniByStatus() {
            var year = document.getElementById('myYearFilter').value;
            var notVerified = document.getElementById('dataDJP');
            var dataByStatus;
            var jumlahBelumVerifikasi = 0;

            var hostname = "https://localhost:44384/";
            var method = "GET";
            var url = hostname + "GetAllRegistrasiAlumniByStatus?year=" + year;
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    dataByStatus = data.data;
                    
                    for (let i = 0; i < dataByStatus.length; i++) {
                        if (dataByStatus[i].value === "Belum Diverifikasi") {
                            jumlahBelumVerifikasi = dataByStatus[i].count;
                        }
                    }

                    notVerified.value = jumlahBelumVerifikasi;
                    notVerified.innerText = jumlahBelumVerifikasi;
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        } 

        function dataIsiKuesioner() {
            var tahun = document.getElementById('myYearFilter').value;
            var dataBelum = document.getElementById('dataJK');

            var labelsKuesioner = ["Belum Mengisi Kusesioner","Sudah Mengisi Kuesioner"];
            var dataKuesioner = [];

            var jumlahBelumVerifikasi;

            var hostname = "https://localhost:44384/";
            var method = "GET";
            var url = hostname + "GetJumlahIsiKuesioner?year=" + tahun;
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    dataIsi = data.data;

                    var sudah = dataIsi[0].sudah_isi;
                    var belum = dataIsi[0].belum_isi;

                    dataBelum.value = sudah;
                    dataBelum.innerText = sudah;

                    var total = sudah + belum;

                    var persentaseSudah = (sudah / total) * 100;
                    var persentaseBelum = (belum / total) * 100;

                    if (newChartIsi) {
                        dataKuesioner = [persentaseBelum, persentaseSudah];

                        newChartIsi.data.labels = labelsKuesioner;
                        newChartIsi.data.datasets[0].data = dataKuesioner;
                        newChartIsi.data.datasets[0].label = 'Jumlah Isi Kuesioner Tahun ' + tahun + " (%)";
                        newChartIsi.update();
                    } else {

                        dataKuesioner = [persentaseBelum, persentaseSudah];

                        newChartIsi = new Chart(ctxxx, {
                            type: 'pie',
                            data: {
                                labels: labelsKuesioner,
                                datasets: [{
                                    label: 'Jumlah Isi Kuesioner Tahun ' + tahun + " (%)",
                                    data: dataKuesioner,
                                    backgroundColor: [
                                        'rgb(47, 5, 162)',
                                        'rgb(79,138,254)'
                                    ],
                                    hoverOffset: 4
                                }]
                            },
                            options: {
                                responsive: false,
                                maintainAspectRatio: true,
                            },
                        });
                    }
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        }

        function dataIsiKuesionerByProdi() {
            var tahun = document.getElementById('myYearFilter').value;
            var dataBelum = document.getElementById('dataJK');

            var labelsKuesioner = ["Belum Mengisi Kusesioner","Sudah Mengisi Kusesioner"];
            var dataKuesioner = [];

            var dataIsiByProdi;

            var hostname = "https://localhost:44384/";
            var method = "GET";
            var url = hostname + "GetJumlahIsiKuesionerByProdi?year=" + tahun;
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    dataIsiByProdi = data.data;
                    $('#table-isi-body').empty();

                    var i = 0;
                    dataIsiByProdi.forEach(function(item) {
                        i++;
                        var newDataIsi = "<tr>" +
                            "<td>" + i + "</td>" +
                            "<td>" + item.nama_prodi + "</td>" +
                            "<td> <a href='/Admin/DetailByProdi?idProdi=" + item.id_prodi + "&tahun=" + tahun + "&status=1' data-toggle='tooltip' data-placement='bottom' title='Lihat Alumni Yang Sudah Mengisi Kuesioner'>" + item.sudah_isi + "</a></td>" +
                            "<td> <a href='/Admin/DetailByProdi?idProdi=" + item.id_prodi + "&tahun=" + tahun + "&status=2' data-toggle='tooltip' data-placement='bottom' title='Lihat Alumni Yang Belum Mengisi Kuesioner'>" + item.belum_isi + "</a></td>";
                            
                            $('#table-isi-body').append(newDataIsi);
                    });
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        }
    });
</script>